	<div class="row" style="text-align:center;background:#18BC9C;color:#fff;" id="tam">
			
		<h1 style="font-size:130px;margin-top:100px;" class="text-danger">404</h1>

		<h1 style="text-decoration:underline;" class="text-danger">Sayfa Bulunamadı!</h1>

		<a href="/" type="submit" class="btn btn-warning" style="margin-top:15px;font-size:28px;">
			<i class="fa fa-home"> Anasayfaya Dön</i>
		</a>

	</div>