 <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <a class="navbar-brand" href="#page-top">BENİMSAHAM.COM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#sahalarimizz">SAHALARIMIZ</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">BİZ KİMİZ ?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">İLETİŞİM</a>
                    </li>
					<li class="page-scroll">
                        <a href="#kurucularimiz">KURUCULAR</a>
                    </li>
					<li class="page-scroll">
						<a href="#profilim">PROFİLİM</a>
					</li>
					<li>
						<a href="/Cikis-Yap" style="color:#e20;text-decoration:underline;">ÇIKIŞ YAP</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/logo.png" alt="">
                    <div class="intro-text">
                        <span class="name">HALI SAHA BİZİM İŞİMİZ!</span>
                        <hr class="star-light">
                        <span class="skills">Telefondan rezervasyon yapmaya son! Benimsaham.com ile artık internetten rezervasyon yapabilirsiniz.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row" id="sahalarimizz">
                <div class="col-lg-12 text-center">
                    <h2>SAHALARIMIZ</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
				
				<div class="col-sm-12 portfolio-item">
                    <a href="#sahalarimiz" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-futbol-o fa-4x"></i>
                            </div>
                        </div>
                        <img src="img/kiralama.jpg" class="img-responsive" alt="">
                    </a>
                </div>       
            </div>
			<div class="row" id="profilim">
					<div class="col-lg-12 text-center">
						<h2>PROFİLİM</h2>
						<hr class="star-primary">
					</div>
				</div>
				
                <div class="col-sm-12 portfolio-item " style="text-align:center;">
                    <a href="#profilimee" class="portfolio-link" style="text-align:center;" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                        </div>
                        <img src="img/profil_photo.png" class="img-responsive" alt="">
                    </a>
                </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>BİZ KİMİZ ?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Arkadaşlarınızla Halı Saha maçı yapmak istiyorsunuz. Hangi sahada oynamak istediğinizi bilmiyorsunuz veya kaç para olduğunu öğrenip rezervasyon yapmak istiyorsunuz. BURADAYIZ! Sizin için Benimsaham.com artık ONLİNE!</p>
                </div>
                <div class="col-lg-4">
                    <p>Güncel saha haberleri, rezervasyona uygun sahalar, keşfetmek istediğiniz yeni sahalar. Hepsi burada! Benimsaham.com ile artık internet üzerinden online rezervasyon yapabilirsiniz!</p>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>BİZİMLE İLETİŞİME GEÇİN</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>İsminiz</label>
                                <input type="text" class="form-control" placeholder="İsminiz" ng-model="gorus.isim">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Adresiniz</label>
                                <input type="email" class="form-control" placeholder="Email Addresiniz" ng-model="gorus.email">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Telefon Numaranız</label>
                                <input type="tel" class="form-control" placeholder="Telefon Numaranız"  ng-model="gorus.telefon">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Sorununuz</label>
                                <textarea rows="5" class="form-control" placeholder="Sorununuz" ng-model="gorus.sorun"></textarea>
                            </div>
                        </div>
                        <br>
                        
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button class="btn btn-success btn-lg"  data-toggle="modal" data-target="#gorus_sonuc"  ng-click="Gorus();">Gönder</button>
                            </div>
                        </div>                    
                </div>
            </div>
        </div>
    </section>

   
	
	<section id="kurucularimiz" class="success">
        <div class="container" id="portfolio">
            <div class="row">
                <div class="col-lg-12 text-center" >
                    <h2>KURUCULAR</h2>
                    <hr  class="star-light">
                </div>
            </div>
            <div class="row">
			
			
				<div class="col-sm-4 portfolio-item " style="text-align:center;">
                    <a href="javascript:void(0);" class="portfolio-link" style="text-align:center;" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
								<h3>BATUHAN AKOVA</h3>
                            </div>
                        </div>
                        <img src="img/profile.png" class="img-responsive" alt="">
                    </a>
                </div>
				
				<div class="col-sm-4 portfolio-item " style="text-align:center;">
                    <a href="javascript:void(0);" class="portfolio-link" style="text-align:center;" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
								<h3>BİLAL DEMİR</h3>
                            </div>
                        </div>
                        <img src="img/profile.png" class="img-responsive" alt="">
                    </a>
                </div>
				
				<div class="col-sm-4 portfolio-item " style="text-align:center;">
                    <a href="javascript:void(0);" class="portfolio-link" style="text-align:center;" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
								<h3>FURKAN KAAN ATAM</h3>
                            </div>
                        </div>
                        <img src="img/profile.png" class="img-responsive" alt="">
                    </a>
                </div>
				
				
            </div>
        </div>
    </section>
	

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


	<div class="portfolio-modal  modal fade" id="sahalarimiz" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div class="col-lg-12">
                                {{#if error_msg}}
                                        <div class="alert alert-danger">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{error_msg}}
                                        </div>
                                {{/if}}
                                {{#if success_msg}}
                                    <div class="alert alert-success">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{success_msg}}
                                    </div>
                                {{/if}}  
                            </div>
                            
							<div class="row" ng-repeat="sahalar in sahalar">
								<h2>{[{sahalar.isim}]}</h2>
								<hr class="star-primary">
									<img src="{[{sahalar.resim}]}" class="img-responsive img-centered" alt="">

								<h3>FİYAT : {[{sahalar.fiyat}]} TL</h3>
								<table class="table">
									<thead>
										<td>TARİH</td>
										<td>SAAT</td>
										<td>KİRALA</td>
									</thead>
									
									<tbody>
                                        
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                        <input type='date' name="kirala_tarih" class="form-control"  ng-model="kirala.tarih"/>
                                                        
                                                    </div>
                                                
                                                </div>
                                            </td>
                                            <td>

                                             
                                                <select class="form-control" name="kirala_saat" ng-model="kirala.saat">
                                                    <option value="">Saat Seçiniz</option>
                                                    <option value="01:00-03:00">01:00-03:00</option>
                                                    <option value="03:00-05:00">03:00-05:00</option>
                                                    <option value="05:00-07:00">05:00-07:00</option>
                                                    <option value="07:00-09:00">07:00-09:00</option>
                                                    <option value="09:00-11:00">09:00-11:00</option>
                                                    <option value="11:00-13:00">11:00-13:00</option>
                                                    <option value="13:00-15:00">13:00-15:00</option>
                                                    <option value="15:00-17:00">15:00-17:00</option>
                                                    <option value="17:00-19:00">17:00-19:00</option>
                                                    <option value="19:00-21:00">19:00-21:00</option>
                                                    <option value="21:00-23:00">21:00-23:00</option>
                                                </select>

                                            </td>
                                            <td>
                                                <button data-toggle="modal" data-dismiss="modal" data-target="#kirala_sonuc" class="btn btn-success" title="KİRALA" ng-click="Kirala(sahalar._id,sahalar.isim,sahalar.fiyat,kirala.tarih,kirala.saat);">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>                   
									</tbody>
								</table>

                            
							</div>
                            
							
                        <button type="button" class="btn btn-default" data-dismiss="modal"  style="border:2px solid #18BC9C;color:#18BC9C;">KAPAT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	 
	<div class="portfolio-modal modal fade" id="profilimee" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="text-lowercase" ng-repeat="kisi in kisi">{[{kisi.username}]}</h2>
                            <hr class="star-primary">
                            <img src="img/profile.png" class="img-responsive img-centered" alt="">
							
							<div class="row">
							<div class="col-lg-8 col-lg-offset-2">

									<div class="row control-group">
										<div class="form-group col-xs-12 floating-label-form-group controls">
											<label>Eski Şifre</label>
											<input type="password" class="form-control" placeholder="Eski Şifre" ng-model="aaa.sifre">
											<p class="help-block text-danger"></p>
										</div>
									</div>
									<div class="row control-group">
										<div class="form-group col-xs-12 floating-label-form-group controls">
											<label>Yeni Şifre</label>
											<input type="password" class="form-control" placeholder="Yeni Şifre" ng-model="aaa.yenisifre">
											<p class="help-block text-danger"></p>
										</div>
									</div>
									<div class="row control-group">
										<div class="form-group col-xs-12 floating-label-form-group controls">
											<label>Yeni Şifre Tekrar</label>
											<input type="password" class="form-control" placeholder="Yeni Şifre (Tekrar)" ng-model="aaa.yenisifre2">
											<p class="help-block text-danger"></p>
										</div>
									</div>
                                    <br/>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <button type="submit" data-dismiss="modal" data-toggle="modal" data-target="#yenileme_sonuc" class="btn btn-success btn-lg" ng-click="Guncelle(aaa.sifre,aaa.yenisifre,aaa.yenisifre2);">Şifreyi Güncelle</button>
                                        </div>
                                    </div>
							</div>
							</div>
							</br>
							<h2>KİRALADIĞIN SAHALAR</h2>
							<hr class="star-primary">
							<table class="table">
								<thead>
									<td>HALISAHA ADI</td>
									<td>TARİH</td>
									<td>SAAT</td>
									<td>FİYAT</td>
								</thead>
								<tbody ng-repeat="sahalarim in sahalarim">
									
	
                                        <tr>
                                            <td>{[{sahalarim.saha_isim}]}</td>
                                            <td>{[{sahalarim.tarih}]}</td>
                                            <td>{[{sahalarim.saat}]}</td>
                                            <td>{[{sahalarim.saha_fiyat}]} TL</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <button type="button" class="input-sm btn btn-danger form-control " title="İPTAL ET" ng-click="Iptal(sahalarim._id);">
                                                    <i class="fa fa-times"></i> İPTAL ET
                                                </button>
                                            </td>
                                        </tr>
	
								</tbody>
							</table>
                            <h4>{[{hata}]}</h4>
							<button type="button" class="btn btn-default" data-dismiss="modal"  style="border:2px solid #18BC9C;color:#18BC9C;">KAPAT</button>
								
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade bs-example-modal-md" id="kirala_sonuc" tabindex="-1" role="document" aria-labelledby="kirala_sonuc">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content text-center" style="padding:10px;background:#128f76;color:#fff;">
            <h4>{[{kirala_sonuc}]}</h4>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-md" id="yenileme_sonuc" tabindex="-1" role="document" aria-labelledby="yenileme_sonuc">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content text-center" style="padding:10px;background:#128f76;color:#fff;">
            <h4>{[{yenileme_sonuc}]}</h4>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-md" id="gorus_sonuc" tabindex="-1" role="document" aria-labelledby="gorus_sonuc">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content text-center" style="padding:10px;background:#128f76;color:#fff;">
            <h4>{[{gorus_sonuc}]}</h4>
        </div>
    </div>
</div>